<!DOCTYPE html>
{% load static %}
<html>
<head>
    <style>
        body{
            font-family: verdana;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #E3F2FD;
            height: 20px;
            padding: 20px;
        }
        a {
            text-decoration: none;
            color: #24629E;
        
        }
    </style>
</head>
<body>
    <header>
        <a href="http://localhost:8000/">NAVBAR (index.html-projecte)</a>
    </header>
</body>
</html>