<!DOCTYPE html>
<html>
    <head>
        <title>Projecte Django</title>
    </head>
    <body>
        {% include "header.html" %}
        <br>
        <br>
        <a href="http://localhost:8000/centre/teachers">PROFESSORAT</a>
        <br>
        <a href="http://localhost:8000/centre/students">ALUMNAT</a>
        <br>
        <a href="http://localhost:8000/centre/form">REGISTRE</a>
        <br>

        <h1>INFORMACIÓ ALUMNAT TIC BARCELONA (aplicació centre)</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Rol</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Frank</td>
                <td>Student</td>
                <td><a href="#">+ INFO</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Lázaro</td>
                <td>Student</td>
                <td><a href="#">+ INFO</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Vargas</td>
                <td>Student</td>
                <td><a href="#">+ INFO</a></td>
            </tr>
        </table>
    </body>
    </html>