<!DOCTYPE html>
<html>
<head>
    <title>Informació alumnat TIC Barcelona</title>
</head>
<body>
    {% include "header.html" %}
    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognoms</th>
            <th>Assignatures</th>
            <th>Rols</th>
        </tr> 
        {% for student in persones %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.nom }}</td>
            <td>{{ student.cognoms }}</td>
            <td>{{ student.assignatures }}</td>
            <td>{{ student.rol }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>