<!DOCTYPE html>
<html>
<head>
    <title>Informació alumnat TIC Barcelona</title>
</head>
<body>
    {% include "header.html" %}
    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Cognom2</th>
            <th>Correu</th>
            <th>Curs</th>
            <th>Mòduls matriculats</th>
            <th>
        </tr>
        <tr>
            <td>1</td>
            <td>Frank</td>
            <td>Student</td>
            <td><a href="#">+ INFO</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Lázaro</td>
            <td>Student</td>
            <td><a href="#">+ INFO</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Vargas</td>
            <td>Student</td>
            <td><a href="#">+ INFO</a></td>
        </tr>
    </table>
</body>
</html>