<!DOCTYPE html>
<html>
<head>
    <title>Informació Professorat TIC Barcelona</title>
</head>
<body>
    {% include "header.html" %}
    <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Cognom 2</th>
            <th>Correu</th>
            <th>Curs</th>
            <th>Mòduls</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Roger</td>
            <td>Sobrino</td>
            <td>39</td>
            <td>teacher</td>
            <td>DAM2B, DAW2A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Josep Oriol</td>
            <td>Roca</td>
            <td>25</td>
            <td>teacher</td>
            <td>DAM2B, DAW2A, DAW1A</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Juanma</td>
            <td>Biel</td>
            <td>24</td>
            <td>teacher</td>
            <td>DAM2B, DAW2A</td>
        </tr>
    </table>
</body>
</html>