<!DOCTYPE html>
<html>
<head>
    <title>Informació Professorat TIC Barcelona</title>
</head>
<body>
    {% include "header.html" %}
    <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognoms</th>
            <th>Assignatures</th>
            <th>Rol</th>
        </tr>
        {% for prof in professors %}
        <tr>
            <td>{{ prof.id }}</td>
            <td>{{ prof.nom }}</td>
            <td>{{ prof.cognoms }}</td>
            <td>{{ prof.assignatures }}</td>
            <td>{{ prof.rol }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>